/* html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.container {
    width: 80%;
    margin: 0px auto;
}

.botao-branco {
    font-weight: 400;
	font-size: 16px;
	color: #2A7AE4;
	line-height: 20px;
	background-color: #FFFFFF;
	border-style:solid ;
	border-width: 2px;
	border-color: #2A7AE4;
	cursor: pointer;
}

.botao-azul {
    font-weight: 400;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 19px;
    padding: 16px;
	background: #2A7AE4;
	border: none;
    text-decoration: none;
}

.botao-azul:hover, .botao-branco:hover {
	cursor: pointer;
}

.link {
    font-weight: 700;
	font-size: 16px;
	color: #2A7AE4;
	text-decoration: none;
}

label {
    font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	color:#A2A2A2;
}

.input-padrao {
    font-size: 16px;
	line-height: 20px;
	color: #A2A2A2;
	border: none;
	border-radius: 4px;
	box-shadow: 2px 2px 2px lightgray;
	padding-left: 12px;
	padding-top: 18px;
	padding-bottom: 18px;
}

.invisivel {
	background-color: green;
	display: none;
}

@media screen and (max-width:1024px) {
    .container {
        width: 94%;
    }
    
}