.cabecalho {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	background: #FFFFFF;
}

.cabecalho__imagem {
	width: 176px;	
	height: 51px;
	background-image: url(../images/Logo.svg);
	margin-right: 16px;
}

.cabecalho__container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: 40px 0px;
}

.cabecalho__ladoesquerdo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
}

.cabecalho__container a {
	text-decoration: none;
}

.cabecalho__busca {
	background: #f5f5f5;
	border-top-left-radius: 2rem;
	border-bottom-left-radius: 2rem;
	padding: 0.8rem 1.6rem;
	border: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.2rem;
	margin-left: 2rem;
	width: 393px;
}

.cabecalho__busca:focus {
	outline: none;

}

.cabecalho__busca-lupa {
	background: #f5f5f5;
	border-top-right-radius: 2rem;
	border-bottom-right-radius: 2rem;
	padding: 13px 15px;
}


.cabecalho__botao {
	padding: 16px 70px;
}

@media screen and (max-width:1024px) {
	
	.cabecalho__container {
		margin: 16px 0px;
	}

	.cabecalho__busca {
		padding: 0.5rem 2.5rem 0.5rem 1rem;
		margin-left: 0;
		width: 272px;
	}
	.cabecalho__busca-lupa {
		padding: 9px 15px;
	}
	
	.cabecalho__imagem {
		width: calc(0.6 * 176px);	
		height: calc(0.6 * 51px);
		background-size: contain;
	}

	.cabecalho__botao {
		font-size: 14px;
		padding: 6px 50px;
	}
}

@media screen and (max-width:767px) {

	.cabecalho__busca {
		display: none;
	}

	.cabecalho__busca-lupa {
		display: none;
	}

	.cabecalho__botao {
		font-size: 14px;
		padding: 6px 42px;
	}
}

