.produtos {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	position: static;
	width: 100%;
	margin:  64px auto;
}

.produtos__cabecalho {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
	position: relative;
	width: 1136px;
	height: 38px;
}

.produtos__titulo {
	height: 38px;
	left: 0px;
	top: 0px;

	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 38px;
	color: #464646;
}

.produtos__add {
	padding: 16px;
	color: #FFFFFF;
	border: none;
	background: #2A7AE4;
	margin: 8px 0px;
	text-decoration: none;
}

.produtos__vertudo {
	height: 19px;
	left: 0px;
	top: 2.5px;

	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
/* identical to box height */
	color: #2A7AE4;
}

.produtos__lista {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: 1136px;
	height: 252px;
	left: 0px;
	top: 54px;

	padding-inline-start: 0px;
	list-style-type: none;
}

.produtos__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: left;

	width: 176px;
	height: 252px;
	left: 0px;
	top: 0px;
}

.produtos__descricao {
	position: static;
	width: 176px;
	height: 16px;
	left: 0px;
	top: 182px;
	margin: 8px 0px 0px 0px;

	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;

	/* Preto/100% */

	color: #464646;
}

.produtos__preco {
	position: static;
	width: 176px;
	height: 19px;
	left: 0px;
	top: 206px;
	margin: 8px 0px 0px 0px;

	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	/* identical to box height */


	/* Preto/100% */

	color: #464646;
}

.produtos__codigo {
	font-weight: 500;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	color: #464646;
	margin: 8px 0px 0px 0px;
}

.produtos__link {
	position: static;
	width: 91px;
	height: 19px;
	left: 0px;
	top: 233px;
	margin: 8px 0px 0px 0px;

	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	/* identical to box height */

	text-decoration: none;
	color: #2A7AE4;
}